input{
    border: 0;
    outline: none;
    background: none;
}
.form{
    width: 100%;
    margin: .5rem 0 0;
	
	// elements
    .select{
        margin-right: 2rem;
    }
	&__{
        &row{
            display: flex;
            
            @media (--tablet-more){
                margin-bottom: 2rem;
            }
            @media (--tablet-less) {
                flex-direction: column;
                margin-bottom: 1rem;
            }
        }
        &col{
            lost-column: 1/2;
            flex: 1 1 auto;
            
            @media (--tablet-more) {
                &:not(:last-child){
                    margin-right: 1rem;
                }
            }
            
            // mods
            &._{
                &short{
                    lost-column: 1/4;
                }
            }
        }
		input&input{
            max-width: 100%;
            width: 100%;
            padding: 15px 0;
            border: none;
            
            font-size: 18px;
            
            box-shadow: 0 -1px white inset;
            background: none;
            color: white;
            
            &._date{
                background: url(img/calendar.png) right center no-repeat;
            }
        }
	}
}