<div class="services">
    <div class="row row-high">
        <a href="#" class="col-md-4 bg-8">
            <div class="i-service-delivery"></div>
            <h4>Доставка еды <br>и напитков в номер</h4>
        </a>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-6 flip">
                <div class="i-umbrella"></div>
                <h6>Прокат зонта</h6>
            </a>
            <div class="row col-md-3 bg-8"></div>
        </div>
        <div class="col-md-2 col-row">
            <div class="row col-md-3 bg-8"></div>
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-taxi"></div>
                <h6>Заказ такси <br>и аренда автомобиля</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-2">
                <div class="i-cond"></div>
                <h6>Кондиционер</h6>
            </a>
            <a href="#" class="row col-md-3 bg-8">
                <div class="i-books"></div>
                <h6>Библиотека</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-boot"></div>
                <h6>Машина <br>для чистки обуви</h6>
            </a>
            <div class="row col-md-3 bg-2"></div>
        </div>
    </div>
    <div class="row row-high-half">
        <div class="col-md-2 bg-8"></div>
        <a href="#" class="col-md-2 bg-2">
            <div class="i-parking"></div>
            <h6>Охраняемая парковка</h6>
        </a>
        <a href="#" class="col-md-2 bg-5">
            <div class="i-carwash"></div>
            <h6>Автомойка</h6>
        </a>
        <a href="#" class="col-md-2 bg-8">
            <div class="i-map"></div>
            <h6>Карта города</h6>
        </a>
        <div class="col-md-2 bg-5"></div>
        <a href="#" class="col-md-2 bg-2">
            <div class="i-atm"></div>
            <h6>Банкоматы <br>и платежный терминал</h6>
        </a>
    </div>
    <div class="row row-high">
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-4 bg-2">
                <div class="i-camera"></div>
                <h6>Туристические <br>экскурсионные и услуги</h6>
            </a>
            <a href="#" class="row col-md-4 bg-8">
                <div class="i-bike"></div>
                <h6>Прокат велосипедов <br>и спортинвентаря</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <div class="row col-md-4 bg-6"></div>
            <a href="#" class="row col-md-4 bg-8">
                <div class="i-wifi"></div>
                <h6>Интернет</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-4 bg-6">
                <div class="i-exposure"></div>
                <h6>Музейная экспозиция</h6>
            </a>
            <div class="row col-md-4 bg-2"></div>
        </div>
        <a href="#" class="col-md-4 bg-8">
            <div class="i-wineglass"></div>
            <h4>Минибар</h4>
        </a>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-12 bg-6">
                <div class="i-coil"></div>
                <h6>Мелкий ремонт <br>одежды</h6>
            </a>
            <div class="row col-md-12 bg-2"></div>
        </div>
    </div>
    <div class="row row-high">
        <a href="#" class="col-md-4 bg-6">
            <div class="i-tub"></div>
            <h4>Сауна</h4>
        </a>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-iron"></div>
                <h6>Гладильные <br>комнаты</h6>
            </a>
            <div class="row col-md-3 bg-2"></div>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-2">
                <div class="i-washer"></div>
                <h6>Прачечная <br>и химчистка</h6>
            </a>
            <a href="#" class="row col-md-3 bg-8">
                <div class="i-newspaper"></div>
                <h6>Свежая пресса</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-medchest"></div>
                <h6>Медицинская <br>помощь</h6>
            </a>
            <a href="#" class="row col-md-3 bg-2">
                <div class="i-matrioshka"></div>
                <h6>Сувенирная лавка</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <div class="row col-md-3 bg-8 "></div>
            <a href="#" class="row col-md-3 bg-6 ">
                <div class="i-drop"></div>
                <h6>Питьевая вода</h6>
            </a>
        </div>
    </div>
    <div class="row row-high">
        <div class="col-md-2 col-row">
            <a class="row col-md-3 bg-6">
                <div class="i-cutlery"></div>
                <h6>Питание по тарифам</h6>
            </a>
            <div class="row col-md-3 bg-8"></div>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-8">
                <div class="i-cap"></div>
                <h6>Учебный центр</h6>
            </a>
            <a href="#" class="row col-md-3 bg-2">
                <div class="i-ringing-phone"></div>
                <h6>Международная <br>и междугородняя связь</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-pillow"></div>
                <h6>Меню подушек</h6>
            </a>
            <div class="row col-md-3 bg-8"></div>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-alarm"></div>
                <h6>Побудка</h6>
            </a>
            <a href="#" class="row col-md-3 bg-6">
                <div class="i-transfer"></div>
                <h6>Трансфер</h6>
            </a>
        </div>
        <a href="#" class="col-md-4 bg-8">
            <div class="i-trainer"></div>
            <h4>Тренажерный <br>зал</h4>
        </a>
    </div>
</div>