<div class="services">
    <div class="row row-high">
        <div class="col-md-4 col-row">
            <div class="row col-md-5 bg-8 col_text">
                <h3>Включено</h3>
                <h4>в стоимость проживания</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="row">
                <a href="#" class="col-md-6 bg-2">
                    <div class="i-taxi"></div>
                    <h6>Заказ такси <br>и аренда автомобиля</h6>
                </a>
                <div class="col-md-5"></div>
            </div>
        </div>
        <a href="#" class="col-md-4 bg-8">
            <div class="i-service-delivery"></div>
            <h4>Доставка еды <br>и напитков в номер</h4>
        </a>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-8">
                <div class="i-wifi"></div>
                <h6>Интернет</h6>
            </a>
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-medchest"></div>
                <h6>Медицинская <br>помощь</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <div class="row col-md-3 bg-5"></div>
            <a href="#" class="row col-md-3 bg-2">
                <div class="i-atm"></div>
                <h6>Банкоматы <br>и платежный терминал</h6>
            </a>
        </div>
        <div class="col-md-2 col-row">
            <a href="#" class="row col-md-3 bg-5">
                <div class="i-boot"></div>
                <h6>Машина <br>для чистки обуви</h6>
            </a>
            <div class="row col-md-3 bg-2"></div>
        </div>
    </div>
    <div class="row row-high-half">
        <a href="#" class="col-md-2 bg-6">
            <div class="i-glass"></div>
            <h6>Питьевая вода</h6>
        </a>
        <a href="#" class="col-md-2 bg-6">
            <div class="i-safe"></div>
            <h6>Камера хранения</h6>
        </a>
        <a href="#" class="col-md-2 bg-5">
            <div class="i-boot"></div>
            <h6>Машина <br>для чистки обуви</h6>
        </a>
        <div class="col-md-2 bg-2"></div>
        <div class="col-md-2 bg-8"></div>
        <a href="#" class="col-md-2 bg-6">
            <div class="i-books"></div>
            <h6>Библиотека</h6>
        </a>
    </div>
    <div class="row row-high-half">
        <div class="col-md-2 bg-2"></div>
        <a href="#" class="col-md-2 bg-6">
            <div class="i-tv"></div>
            <h6>Кабельное телевидение</h6>
        </a>
        <div class="col-md-2 bg-5"></div>
        <a href="#" class="col-md-2 bg-2">
            <div class="i-alarm"></div>
            <h6>Побудка</h6>
        </a>
        <a href="#" class="col-md-2 bg-7">
            <div class="i-telephone"></div>
            <h6>Городские <br>телефонные звонки</h6>
        </a>
        <a href="#" class="col-md-2 bg-5">
            <div class="i-iron"></div>
            <h6>Гладильные <br>комнаты</h6>
        </a>
    </div>
</div>