.services{
	text-align: center;
    
    a{
        &:hover{
            text-decoration: none;
        }
    }
    h4{
        margin-top: 30px;
    }
    h6{
        
        display: flex;
        align-items: flex-end;
        
        @media (--widedesktop-less) {
            padding: 0 1rem;
        }
    }
    h3 + p,
    h4 + p{
        max-width: 60%;
    }
    .form{
        max-width: 70%;
        
        @media (--tablet-less) {
            max-width: 90%;
        }
    }
    [class^=i-]{
        min-height: 80px;
        margin-bottom: 1rem;
        
        display: flex;
        align-items: center;
    }
    .row{
        flex: 0 1 auto !important;
    }
    :--col{
        flex: 0 1 auto !important;
        align-items: center;
        
        > img{
            margin-bottom: 1rem;
        }
        
        &.row{
            padding: 10px 0;
        }
        &.col_text{
            display: block;
            padding: 5%;
            
            h4{
                margin-top: 0;
            }
        }
        &:empty{
            
            @media (--tablet-less) {
                display: none !important;
            }
        }
    }
}