.bg{
	
	// mods
    &-1{
        background-color: $color__dark1;
    }
    &-2{
        background-color: $color__dark2;
    }
    &-3{
        background-color: $color__dark3;
    }
    &-4{
        background-color: $color__dark4;
    }
    &-5{
        background-color: $color__dark5;
    }
    &-6{
        background-color: $color__dark6;
    }
    &-7{
        background-color: $color__dark7;
    }
    &-8{
        background-color: $color__dark8;
    }
}