.social{
    
    @media (--tablet-less) {
        flex-wrap: wrap;
    }
	
	// elements
    .col{
        flex: 1 0%;
        
        
        @media (--tablet-less) {
            lost-column: 1/4;
            height: 75px;
            border-left: 0 !important;
        }
        
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7){
            margin-bottom: 0;
        }
        &:not(:first-child){
            border-left: 2px solid $color__dark1;
        }
        &-empty{
            
            @media (--desktop-more) {
                display: none;
            }
        }
    }
}