@custom-selector :--col [class*=" col"], [class^=col], .col;
:--col{
    padding-left: 0;
    padding-right: 0;
    
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @media (--desktop-more) {
        
        margin-bottom: 0 !important;
    }
    @media (--tablet-less) {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    // mods
    &.row{
        flex-direction: column;
        border-left: 0;
        
        @media (--desktop-more) {
            &:not(:last-child){
                margin-bottom: 2px !important;
            }
        }
        
        @media (--tablet-less) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    &:not(:last-child){
        @media (--tablet-less){
            margin-bottom: 2px;
        }
    }
    .row .row &:first-child{
        border-left: 0;
    }
    .row > &:only-child{
        width: 100%;
    }
    // elements
    & > &{
        width: 100%;
        flex: 1 0%;
        
        &:not(:last-child){
            margin-bottom: 2px;
        }
    }
}
.col{
    // mods
    &-{
        &row{
            
            @media (--tablet-less) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        &carousel{
            height: inherit;
            
            @media (--widedesktop-more) {
                lost-column: 8/12;
            }
            @media (--desktop-only) {
                lost-column: 7/12;
            }
            @media (--tablet-only) {
                lost-column: 8/12;
            }
            @media (--tablet-less) {
                height: 430px;
            }
            
            &-before-after{
                height: inherit;
                
                @media (--widedesktop-more) {
                    lost-column: 4/12;
                }
                @media (--desktop-only) {
                    lost-column: 5/12;
                }
                @media (--tablet-only) {
                    lost-column: 4/12;
                }
                @media (--tablet-less) {
                    height: 290px;
                    
                    .form{
                        display: none;
                    }
                }
            }
        }
    }
    &_{
        &text{
            padding: 5%;
            
            text-align: left;
            
            align-items: flex-start;
            
            p{
                max-width: 100%;
            }
        }
    }
    // mods
    &-md-{
        &1{
            lost-column: 1/12;
        }
        &2{
            lost-column: 2/12;
        }
        &3{
            lost-column: 3/12;
        }
        &4{
            lost-column: 4/12;
        }
        &5{
            lost-column: 5/12;
        }
        &6{
            lost-column: 6/12;
        }
        &6{
            lost-column: 6/12;
        }
        &7{
            lost-column: 7/12;
        }
        &8{
            lost-column: 8/12;
        }
        &9{
            lost-column: 9/12;
        }
        &10{
            lost-column: 10/12;
        }
        &11{
            lost-column: 11/12;
        }
        &12{
            lost-column: 12/12;
        }
    }
    &-xs-{
        @media (--desktop-less) {
            &1{
                lost-column: 1/12;
            }
            &2{
                lost-column: 2/12;
            }
            &3{
                lost-column: 3/12;
            }
            &4{
                lost-column: 4/12;
            }
            &5{
                lost-column: 5/12;
            }
            &6{
                lost-column: 6/12;
            }
            &6{
                lost-column: 6/12;
            }
            &7{
                lost-column: 7/12;
            }
            &8{
                lost-column: 8/12;
            }
            &9{
                lost-column: 9/12;
            }
            &10{
                lost-column: 10/12;
            }
            &11{
                lost-column: 11/12;
            }
            &12{
                lost-column: 12/12;
            }
        }
    }
}