<div class="row row-short nav">
    <div class="social__contact nav__row col col-row col-md-5">
        <import src="search" class=" col nav__search bg-5"></import>
        <div class="col nav__contacts bg-5">
            <div class="i-contacts nav__icon"></div>
            Контактная информация
        </div>
    </div>
    <div class="nav__social nav__row social col col-row col-md-7">
        <a href="#" class="col bg-3">
            <img src="img/vk.gif" alt="">
        </a>
        <a href="#" class="col bg-3">
            <img src="img/fb.gif" alt="">
        </a>
        <a href="#" class="col bg-3">
            <img src="img/ok.gif" alt="">
        </a>
        <a href="#" class="col bg-3">
            <img src="img/tw.gif" alt="">
        </a>
        <a href="#" class="col bg-3">
            <img src="img/yt.gif" alt="">
        </a>
        <a href="#" class="col bg-3">
            <img src="img/in.gif" alt="">
        </a>
        <a href="#" class="col bg-3">
            <img src="img/po.gif" alt="">
        </a>
        <div class="col col-empty bg-3"></div>
    </div>
</div>