.nav{
    
    @media (--desktop-less) {
        height: auto !important;
        flex-direction: column !important;
    }
    .col{
        height: 100%;
        
        flex-direction: row;
        
        @media (--tablet-only) {
            margin-bottom: 0 !important;
        }
    }
    &__{
        &row{
            display: flex;
            
            @media (--tablet-only) {
                width: 100%;
                height: 90px !important;
                
                &:not(:last-child){
                    border-bottom: 2px solid $color__dark1;
                }
            }
            @media (--tablet-less) {
                &:first-child{
                    height: 100px;
                }
                height: 75px;
            }
        }
        &search{
            min-width: 110px;
            margin-bottom: 0 !important;
        }
        &contacts{
            flex: 1 75% !important;
            
            border-left: 2px solid $color__dark1;
            
            padding: 0 1rem;
            
            font-family: PF Din;
            font-size: 26px;
            
            flex-direction: row;
        }
        &icon{
            margin-right: 30px;
        }
    }
}