<div class="callback">
    <div class="callback__manager">
        <import src="person"></import>
    </div>
    <div class="callback__content">
        <h3>Возникли вопросы?</h3>
        <p>Закажите обратный звонок. В течении часа с Вами свяжется менеджер</p>
        <div class="form">
            <div class="form__row">
                <div class="form__col">
                    <input type="text" class="form__input" placeholder="Ваше имя">
                </div>
                <div class="form__col">
                    <input type="text" class="form__input" placeholder="Телефон">
                </div>
            </div>
            <div class="button button-default">Отправить</div>
        </div>
    </div>
</div>