<div class="callback bg-8">
    <div class="row">
        <div class="col-md-4 callback__note">
            <div class="callback__note-inner">
                <div class="callback__icon i-comment-lg"></div>
                <div>
                    <h3>Оставить отзыв</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 callback__content">
            <div class="form">
                <div class="form__row">
                    <div class="form__col">
                        <input type="text" class="form__input" placeholder="Ваше имя">
                    </div>
                    <div class="form__col">
                        <input type="text" class="form__input" placeholder="Телефон или -email">
                    </div>
                    <div class="form__col">
                        <input type="text" class="form__input" placeholder="Город">
                    </div>
                </div>
                <div class="form__row">
                    <input type="text" class="form__input" placeholder="Ваше имя">
                </div>
                <div class="form__row">
                    <select class="select">
                        <option value="1">Отзыв об отеле</option>
                        <option value="2">Отзыв об отеле 1</option>
                        <option value="3">Отзыв об отеле 2</option>
                    </select>
                    <button class="button button-default">Отправить отзыв</button>
                </div>
            </div>
        </div>
    </div>
</div>