.callback{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0 !important;
    
    text-align: left;
    
    display: flex;
    flex-direction: column;
    
    @media (--desktop-more) {
        flex-direction: row !important;
        height: 310px;
    }
	
	// elements
    h3{
        margin-top: 0;
    }
    .form{
        width: 80%;
    }
	&__{
        &note{
            padding: 0 60px !important;
            border-right: 1px solid color(white a(.2));
            
            @media (--tablet-less) {
                padding: 2rem;
                border-right: 0;
            }
            
            &-inner{
                display: flex;
            }
            h3{
                white-space: nowrap;
            }
        }
        &icon{
            margin-right: 20px;
            margin-bottom: 20px;
        }
        &manager{
            padding: 0 70px 0 80px;
            
            @media (--desktop-more) {
                border-right: 1px solid color(white a(.2));
            }
            @media (--tablet-less) {
                padding: 0 30px;
            }
        }
		&content{
            flex: 1 0;
            padding: 0 80px 0 65px;
            border-left: none;
            
            @media (--tablet-less) {
                padding: 20px 30px;
            }
        }
	}
}