.button{
    display: inline-block;
    
    padding: 0.875rem 2.375rem;
    border: 2px solid transparent;
	
    font-size: 16px;
    line-height: 1;
    
    border-radius: 5px;
    text-align: center;
    text-shadow: none;
    color: black;
    
    transition: .3s;
    
    &:hover{
        text-decoration: none;
        background: transparent;
        color: inherit;
        cursor: pointer;
    }
    
    &-{
        &default{
            background: white;
            border-color: white;
            
            &:hover{
                color: white;
            }
        }
    }
}