.tabs{
    
	// elements
	&__{
        &tab{
            lost-column: 1/4;
            height: 140px;
            padding: 0 1rem;
            
            text-align: center;
            
            position: relative;
            
            &:hover{
                cursor: pointer;
            }
            
            &._active{
                &:after{
                    content: '';
                    position: absolute 0 10% * 10%;
                    height: 3px;
                    
                    background: white;
                }
            }
            
            @media (--tablet-more) {
                & + &{
                    border-left: 2px solid $color__dark1;
                }
            }
        }
		&title{
            font-family: PF Din;
            font-size: 38px;
            line-height: 1;
        }
        &note{
            font-size: 16px;
        }
	}
}