<div class="row tabs">
    <div class="col-md-4 tabs__tab _active">
        <div class="tabs__title">Последние <br>отзывы</div>
    </div>
    <div class="col-md-4 tabs__tab">
        <p class="tabs__note">Отзывы об</p>
        <div class="tabs__title">отеле Vostok</div>
    </div>
    <div class="col-md-4 tabs__tab">
        <p class="tabs__note">Отзывы о</p>
        <div class="tabs__title">ресторации V-Cafe</div>
    </div>
    <div class="col-md-4 tabs__tab">
        <p class="tabs__note">Отзывы о</p>
        <div class="tabs__title">конференц-центре</div>
    </div>
</div>