.menu{
    height: 100%;
	
    position: relative;
    flex-direction: row;
    align-items: stretch;
    
	// elements
	&__{
        &links{
            
            padding: 0 40px;
            
            display: none;
            align-items: stretch;
            
            position: relative;
            
            @media (--desktop-more) {
                display: flex;
            }
            
            &:after{
                content: '';
                position: absolute calc(50% - 20px) 0 * *;
                height: 40px;
                border-right: 1px solid #2f2f2f;
            }
        }
		&link{
            font-family: PF Din;
            font-size: 30px;
            white-space: nowrap;
            
            color: white;
            
            display: flex;
            align-items: center;
            
            @media (--widedesktop-more) {
                &:not(:last-child){
                    margin-right: 30px;
                }
            }
            @media (--widedesktop-less) {
                &:not(:first-child){
                    display: none;
                }
            }
            &._active{
                box-shadow: 0 2px white inset;
            }
            &:hover{
                text-decoration: none;
                color: color(white a(.5));
                
                transition: .3s;
            }
        }
        &more{
            padding: 0 40px;
            
            display: flex;
            align-items: center;
            
            &._active,
            &:hover{
                background: #242424;
            }
        }
        &dropdown._active{
            visibility: visible;
            opacity: 1;
        }
        &dropdown{
            position: fixed 0;
            z-index: 1000;
            
            padding: 0 40px;
            overflow: auto;
            
            visibility: hidden;
            opacity: 0;
            transition: .3s;
            
            @media (--desktop-more) {
                position: absolute 100% auto auto 0;
                
                overflow: visible;
            }
            
            &:after{
                content: '';
                position: fixed 0;
                z-index: -1;
                width: 300vw;
                
                background: color(#242424 a(.9));
                
                @media (--desktop-more) {
                    position: absolute 0 * 0 -100vw;
                }
            }
        }
        &close{
            position: absolute 0 0 * *;
            z-index: 200;
            padding: 2rem;
            
            font-size: 30px;
            line-height: 0;
            
            cursor: pointer;
            
            @media (--desktop-more) {
                display: none !important;
            }
            
            &:after{
                content: 'x';
            }
        }
        &sublinks{
            padding: 55px 60px 55px 0;
            
            position: relative;
            
            @media (--desktop-more) {
                width: 310px;
                border-right: 2px solid color(white a(.2));
            }
        }
        &sublink{
            display: block;
            padding: 10px 0;
            border-bottom: 2px solid transparent;
            
            font-family: PF Din;
            font-size: 24px;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &,
            &:hover{
                text-decoration: none;
                color: white;
            }
            &:hover{
                border-bottom-color: white;
            }
            
            &:after{
                content:">";
                
                font-size: 20px;
                font-weight: 700;
            }
        }
        &submenu:hover,
        &sublink:hover + &submenu{
            display: block;
        }
        &submenu{
            display: none;
            
            @media (--desktop-more) {
                position: absolute 0 * 0 100%;
                
                padding: 55px 0 55px 120px;
                margin: 0 0 0 -60px;
            }
            @media (--desktop-less) {
                display: none !important;
                
                padding: 2rem 1rem;
            }
        }
        &easylink{
            display: inline-block;
            
            border-bottom: 1px solid color(white a(.3));
            
            font-size: 16px;
            white-space: nowrap;
            
            color: white;
            
            @media (--desktop-less) {
                display: block;
            }
            
            &:hover{
                text-decoration: none;
                border-bottom-color: transparent;
                color: #878787;
            }
            &:not(:last-child){
                margin: 0 0 1em;
            }
        }
	}
}