<div class="menu">
    <div class="menu__links">
        <a href="#" class="menu__link _active">Отель</a>
        <a href="#" class="menu__link">Номера и цены</a>
        <a href="#" class="menu__link">Контакты</a>
    </div>
    <div class="menu__more">
        <div class="menu__icon i-menu"></div>
    </div>
    <div class="menu__dropdown">
        <div class="menu__close"></div>
        <div class="menu__content">
            <div class="menu__sublinks">
                <a href="#" class="menu__sublink">Отель</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
                <a href="#" class="menu__sublink">Номера и цены</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
                <a href="#" class="menu__sublink">Конференц-центр</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
                <a href="#" class="menu__sublink">Ресторация V cafe</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Партнёры</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Партнёры</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
                <a href="#" class="menu__sublink">Визовая поддержка</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Партнёры</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
                <a href="#" class="menu__sublink">Услуги</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Партнёры</a>
                </div>
                <a href="#" class="menu__sublink">Новости</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Партнёры</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
                <a href="#" class="menu__sublink">Спецпредложения</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Партнёры</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
                <a href="#" class="menu__sublink">Контакты</a>
                <div class="menu__submenu">
                    <a href="#" class="menu__easylink">Нам 40 лет</a>
                    <a href="#" class="menu__easylink">Преимущества</a>
                    <a href="#" class="menu__easylink">Фотогалерея</a>
                    <a href="#" class="menu__easylink">Видеогалерея</a>
                    <a href="#" class="menu__easylink">Награды и достижения</a>
                    <a href="#" class="menu__easylink">Рядом с отелем</a>
                    <a href="#" class="menu__easylink">Гостевая книга</a>
                    <a href="#" class="menu__easylink">Партнёры</a>
                    <a href="#" class="menu__easylink">Вакансии</a>
                </div>
            </div>
        </div>
    </div>
</div>