<div class="row">
    <div class="col bg-6">
        <div class="more">
            <div class="more__icon i-more"></div>
            <div class="more__caption">Показать еще</div>
        </div>
    </div>
</div>