.more{
    width: 100%;
    height: 95px;
    
    display: flex;
    align-items: center;
    justify-content: center;
	
    font-family: PF Din;
    font-size: 26px;
    
    color: $color__gray1;
    
    cursor: pointer;
    
	// elements
	&__{
		&icon{
            margin: 0 20px 0 0;
        }
	}
}