.row{
    
    flex: 1 0%;
    min-width: 100%;
    
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    @media (--tablet-more) {
        flex-direction: row;
    }
    
    // mods
    &-short{
        @media (--widedesktop-more) {
            height: 110px;
        }
        @media (--widedesktop-less) {
            height: 80px;
        }
    }
    &-medium{
        @media (--tablet-more) {
            height: 320px;
        }
    }
    &-high{
        @media (--widedesktop-more) {
            height: 440px;
        }
        @media (--widedesktop-less) {
            height: 360px;
        }
        @media (--tablet-less) {
            height: auto !important;
        }
        
        &-half,
        [class^=col] .row{
            @media (--widedesktop-more) {
                height: 220px;
            }
            @media (--widedesktop-less) {
                height: 180px;
            }
            @media (--tablet-less) {
                height: auto !important;
            }
        }
    }
    &-high-2{
        @media (--widedesktop-more) {
            height: 480px;
        }
        @media (--desktop-only) {
            height: 430px;
        }
        @media (--tablet-only) {
            height: 320px;
        }
    }
    
    // elements
    &:before,
    &:after{
        content: none;
    }
}