[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-alarm:before {
	width: 75px;
	height: 75px;
	background-position: -85px -607px;
}
.i-arrow-next:before {
	width: 22px;
	height: 31px;
	background-position: -420px -465px;
}
.i-arrow-prev:before {
	width: 22px;
	height: 31px;
	background-position: -393px -465px;
}
.i-arrow-select:before {
	width: 9px;
	height: 5px;
	background-position: -823px -255px;
}
.i-atm:before {
	width: 80px;
	height: 80px;
	background-position: -261px -522px;
}
.i-bike:before {
	width: 90px;
	height: 54px;
	background-position: -596px -607px;
}
.i-book-lg:before {
	width: 93px;
	height: 110px;
	background-position: -230px -350px;
}
.i-books:before {
	width: 80px;
	height: 80px;
	background-position: -606px -350px;
}
.i-boot:before {
	width: 80px;
	height: 66px;
	background-position: -335px -607px;
}
.i-cake-lg:before {
	width: 90px;
	height: 126px;
	background-position: -496px -119px;
}
.i-camera:before {
	width: 80px;
	height: 63px;
	background-position: -420px -607px;
}
.i-cap:before {
	width: 86px;
	height: 57px;
	background-position: -505px -607px;
}
.i-carwash:before {
	width: 80px;
	height: 80px;
	background-position: -606px -265px;
}
.i-church:before {
	width: 85px;
	height: 85px;
	background-position: -606px 0px;
}
.i-coil:before {
	width: 80px;
	height: 80px;
	background-position: -606px -435px;
}
.i-comment-lg:before {
	width: 62px;
	height: 63px;
	background-position: -696px -100px;
}
.i-cond:before {
	width: 80px;
	height: 67px;
	background-position: -250px -607px;
}
.i-contacts:before {
	width: 30px;
	height: 35px;
	background-position: -691px -607px;
}
.i-cutlery:before {
	width: 80px;
	height: 80px;
	background-position: -431px -522px;
}
.i-drop:before {
	width: 60px;
	height: 80px;
	background-position: -768px -170px;
}
.i-eating-lg:before {
	width: 130px;
	height: 114px;
	background-position: -237px -185px;
}
.i-exposure:before {
	width: 70px;
	height: 80px;
	background-position: -768px 0px;
}
.i-feature1:before {
	width: 47px;
	height: 50px;
	background-position: -696px -366px;
}
.i-feature2:before {
	width: 39px;
	height: 50px;
	background-position: -443px -350px;
}
.i-feature3:before {
	width: 44px;
	height: 50px;
	background-position: -696px -531px;
}
.i-feature4:before {
	width: 46px;
	height: 50px;
	background-position: -696px -421px;
}
.i-feature5:before {
	width: 46px;
	height: 50px;
	background-position: -696px -476px;
}
.i-feature6:before {
	width: 66px;
	height: 60px;
	background-position: -768px -605px;
}
.i-feature7:before {
	width: 53px;
	height: 50px;
	background-position: -696px -311px;
}
.i-feature8:before {
	width: 53px;
	height: 53px;
	background-position: -696px -253px;
}
.i-glass:before {
	width: 44px;
	height: 80px;
	background-position: -696px -168px;
}
.i-iron:before {
	width: 55px;
	height: 80px;
	background-position: -768px -435px;
}
.i-logo:before {
	width: 140px;
	height: 52px;
	background-position: 0px -465px;
}
.i-map:before {
	width: 80px;
	height: 80px;
	background-position: -606px -180px;
}
.i-matrioshka:before {
	width: 52px;
	height: 80px;
	background-position: -768px -520px;
}
.i-medchest:before {
	width: 82px;
	height: 75px;
	background-position: -603px -522px;
}
.i-menu:before {
	width: 40px;
	height: 34px;
	background-position: -348px -465px;
}
.i-more:before {
	width: 26px;
	height: 26px;
	background-position: -359px -433px;
}
.i-newspaper:before {
	width: 110px;
	height: 78px;
	background-position: -328px -350px;
}
.i-parking:before {
	width: 56px;
	height: 80px;
	background-position: -768px -350px;
}
.i-phone:before {
	width: 17px;
	height: 17px;
	background-position: -745px -168px;
}
.i-photo:before {
	width: 80px;
	height: 67px;
	background-position: -165px -607px;
}
.i-pillow:before {
	width: 79px;
	height: 57px;
	background-position: 0px -688px;
}
.i-present:before {
	width: 81px;
	height: 85px;
	background-position: -606px -90px;
}
.i-ringing-phone:before {
	width: 80px;
	height: 80px;
	background-position: -176px -522px;
}
.i-rings-lg:before {
	width: 110px;
	height: 110px;
	background-position: -115px -350px;
}
.i-safe:before {
	width: 86px;
	height: 80px;
	background-position: 0px -522px;
}
.i-search:before {
	width: 26px;
	height: 27px;
	background-position: -328px -433px;
}
.i-service-delivery:before {
	width: 167px;
	height: 180px;
	background-position: 0px 0px;
}
.i-stemware-lg:before {
	width: 105px;
	height: 114px;
	background-position: -496px 0px;
}
.i-stemware:before {
	width: 106px;
	height: 141px;
	background-position: -126px -185px;
}
.i-tariff1:before {
	width: 50px;
	height: 90px;
	background-position: -768px -255px;
}
.i-tariff2:before {
	width: 92px;
	height: 95px;
	background-position: -496px -365px;
}
.i-tariff3:before {
	width: 93px;
	height: 110px;
	background-position: -496px -250px;
}
.i-tariff4:before {
	width: 110px;
	height: 110px;
	background-position: 0px -350px;
}
.i-tariff5:before {
	width: 110px;
	height: 110px;
	background-position: -372px -185px;
}
.i-taxi:before {
	width: 109px;
	height: 49px;
	background-position: -145px -465px;
}
.i-telephone:before {
	width: 80px;
	height: 80px;
	background-position: -91px -522px;
}
.i-trainer:before {
	width: 159px;
	height: 160px;
	background-position: -172px 0px;
}
.i-transfer:before {
	width: 84px;
	height: 42px;
	background-position: -259px -465px;
}
.i-tub:before {
	width: 155px;
	height: 160px;
	background-position: -336px 0px;
}
.i-tv:before {
	width: 82px;
	height: 78px;
	background-position: -516px -522px;
}
.i-umbrella:before {
	width: 80px;
	height: 76px;
	background-position: 0px -607px;
}
.i-video:before {
	width: 80px;
	height: 80px;
	background-position: -346px -522px;
}
.i-washer:before {
	width: 64px;
	height: 80px;
	background-position: -768px -85px;
}
.i-wifi:before {
	width: 67px;
	height: 95px;
	background-position: -696px 0px;
}
.i-wineglass:before {
	width: 121px;
	height: 160px;
	background-position: 0px -185px;
}
