.comments{
    
    align-items: flex-start !important;
    
	// elements
    blockquote{
        padding: 0 10px;
        margin: 0;
    }
	&__{
		&comment{
            flex: 0 1 auto !important;
            
            padding: 60px 60px 90px !important;
            
            @media (--tablet-only) {
                padding: 1rem !important;
            }
        }
        &user{
            margin: 0 0 45px;
            
            display: flex;
            align-items: center;
            
            &-{
                &image{
                    margin: 0 10px 0 0;
                    
                    border-radius: 50%;
                }
                &info{
                    flex: 1 0%;
                }
                &name{
                    font-family: PF Din;
                    font-size: 26px;
                }
            }
        }
	}
}