<div class="row comments">
    <div class="col-md-4 col-row">
        <div class="row col comments__comment bg-6">
            <div class="comments__user">
                <img src=":90x90" alt="" class="comments__user-image">
                <div class="comments__user-info">
                    <div class="comments__user-name">Василий Базаров</div>
                    <p>Ханты-Мансийск</p>
                </div>
            </div>
            <blockquote class="comments__text">Доброго времени суток!Впервые остановилась в Вашем отеле, во время новогодних каникул. Огромное Вам спасибо, за радушный прием, профессионализм персонала, уют, комфорт, чистоту, тишину, отличные и вкусные блюда в городском кафе! Желаю Вам всего наилучшего! Так держать!</blockquote>
        </div>
        <div class="row col comments__comment bg-7">
            <div class="comments__user">
                <img src=":90x90" alt="" class="comments__user-image">
                <div class="comments__user-info">
                    <div class="comments__user-name">Наталья Мирная</div>
                    <p>Ханты-Мансийск</p>
                </div>
            </div>
            <blockquote class="comments__text">Добрый день. Всегда останавливаюсь в вашем отеле, когда приезжаю в Тюмень. Хочу сказать огромные слова благодарности за вежливый и радушный персонал, готовность помочь в любой проблеме, начиная с быстрого размещения в номер и заканчивая такой мелочью, как найти зарядное устройство для телефона, которое забыл дома. Отдельное спасибо за чистый и уютный номер, разнообразный и вкусный завтрак и за комфортную атмосферу ресторана, где он проходит. Отель очень удачно расположен, недалеко Драм театр, до которого можно прогуляться пешком, и набережная реки Туры. Единственное, чего не хватает в номере, по возможности, хотелось бы небольшой рекламный проспект с основными достопримечательностями Тюмени, и их расположением. Тюмень - город интересный, а люди в отеле, в основном все занятые. Краткая информация о возможности быстро и интересно посмотреть город, сильно бы помогла.  А так, большое спасибо за ваш труд. Рекомендую всем отель Восток - отличное место для работы и отдыха.</blockquote>
        </div>
    </div>
    <div class="col-md-4 col-row">
        <div class="row col comments__comment bg-8">
            <div class="comments__user">
                <img src=":90x90" alt="" class="comments__user-image">
                <div class="comments__user-info">
                    <div class="comments__user-name">Алена Иванова</div>
                    <p>Москва</p>
                </div>
            </div>
            <blockquote class="comments__text">Гостиница «Восток» - идеальный выбор для тех, кто привык к комфорту<br>В начале августа 2013 года я уже второй раз ездил в командировку в г. Тюмень и останавливался в гостинице "Восток". <br>У каждого человека возникнут свои ассоциации со словом «Восток». Кто-то вспомнит о восточных красавицах, о специях и пряностях, о древних цивилизациях, роскоши и богатстве и др. А для меня «Восток» - это теперь еще и отличная гостиница, расположенная в центре г. Тюмени. Уютные номера, хорошая инфраструктура, симпатичный ресторанчик и европейский сервис — все это и многое другое гармонично сочетается в данном отеле. Здесь есть все условия для того, чтобы хорошо отдохнуть в командировке.</blockquote>
        </div>
        <div class="row col comments__comment bg-4">
            <div class="comments__user">
                <img src=":90x90" alt="" class="comments__user-image">
                <div class="comments__user-info">
                    <div class="comments__user-name">Алена Иванова</div>
                    <p>Москва</p>
                </div>
            </div>
            <blockquote class="comments__text">
                <p>Чисто, аккуратно, приветливый персонал, в центре норода. Бюджетный вариант, но при этом хорошее качество. В номерах свежий ремонт.</p>
                <p>Короткая кровать в сингл-номере - может быть не очень удобно для высоких людей)) Но не критично, очевидно))</p>
            </blockquote>
        </div>
    </div>
    <div class="col-md-4 col-row">
        <div class="row col comments__comment bg-4">
            <div class="comments__user">
                <img src=":90x90" alt="" class="comments__user-image">
                <div class="comments__user-info">
                    <div class="comments__user-name">Василий Владимирович</div>
                    <p>Красноярск</p>
                </div>
            </div>
            <blockquote class="comments__text">
                <p>Замечательная уютная гостиница европейского уровня в центре города!</p>
                <p>На рецепшн встретили воистину гостеприимно. Разместили быстро. В номере светло, чисто и аккуратно. Помимо хорошей мебели, телевизора, телефона и настольной лампы (стандартного набора) в номере есть холодильник, фен. Есть Wi-fi, подключение к интернету без каких либо проблем, скорость передачи высокая. Шкаф вместительный, кровать удобная и мягкая (всегда высыпался). Телевизор показывал в хорошем качестве все имеющееся каналы. Всё в номере мне понравилось. Обслуживание вежливое, ненавязчивое и доброжелательное.</p>
            </blockquote>
        </div>
        <div class="row col comments__comment bg-6">
            <div class="comments__user">
                <img src=":90x90" alt="" class="comments__user-image">
                <div class="comments__user-info">
                    <div class="comments__user-name">Василий Владимирович</div>
                    <p>Красноярск</p>
                </div>
            </div>
            <blockquote class="comments__text">Останавливался в марте и мае,дней по 10 оба раза.В номерах "комфорт" и "бизнес" есть интернет,работает шустро,без сбоев."Бизнесы" разные: у меня был большой номер с ЖК 29" и большой кроватью,а у сотрудника тоже "комфорт",на комната значительно меньше, и телек ЭЛТ.Завтраки однообразные,но много чего есть. А вот ужинать не стал бы там-дорого и скудно.Персонал отличный,все вопросы решали без проблем.Единственный минус для меня это комнаты для курильщиков только на 2,3,7 и 8 этажах. В общем рекомендую-твердая четвёрка.</blockquote>
        </div>
    </div>
</div>