.g-section{
    overflow-x: hidden;
	
	&__content{
        box-sizing: border-box;
        padding: 0 10px;
		margin: 0 auto;
        
        @media (--widedesktop-more) {
            width: $content;
        }
        @media (--desktop-only) {
            width: $media__desktop_min;
        }
        @media (--tablet-only) {
            width: $media__tablet_min;
        }
        @media (--phone-only) {
            width: $media__phone_min;
        }
	}
}