<div class="features _mini">
    <div class="features__feature">
        <div class="i-feature1 features__icon"></div>
        <div class="features__title">Удачное расположение отеля</div>
    </div>
    <div class="features__feature">
        <div class="i-feature2 features__icon"></div>
        <div class="features__title">Высокий уровень безопасности и спокойствия</div>
    </div>
    <div class="features__feature">
        <div class="i-feature3 features__icon"></div>
        <div class="features__title">Самый большой номернойфонд в Тюмени</div>
    </div>
    <div class="features__feature">
        <div class="i-feature4 features__icon"></div>
        <div class="features__title">Соотношение цена/качество</div>
    </div>
</div>