.features{
    padding: 4rem 0 2rem;
    
    display: flex;
    flex-wrap: wrap;
    
    // mods
    &._mini{
        width: 100%;
        padding: 0;
        margin: .5rem 0 0;
    }
    &._mini &__feature{
        lost-column: 1/2;
        
        @media (--tablet-less) {
            flex: 100%;
            padding: 0 !important;
        }
        
        &:nth-child(2n){
            padding: 0 0 0 12%;
        }
        &:nth-child(2n+1){
            padding: 0 12% 0 0;
        }
    }
	
	// elements
    &__{
        &feature{
            lost-column: 1/4;
            padding: 0 4%;
            margin: 0 0 2rem;
            
            justify-content: flex-start;
            align-items: flex-start;
            
            @media (--tablet-less) {
                width: 100%;
            }
        }
        &icon{
            min-height: 80px;
            
            display: flex;
            align-items: center;
        }
        &title{
            font-family: PF Din;
            font-size: 24px;
        }
    }
}