.footer{
    
	// elements
	&__{
		&col{
            
            @media (--desktop-more) {
                padding-right: 2.5rem;
                padding-left: 2.5rem;
            }
            @media (--desktop-less) {
                padding-right: 1rem;
                padding-left: 1rem;
            }
            @media (--tablet-less) {
                margin-bottom: 0 !important;
                
                align-items: flex-start;
                
                &:first-child{
                    padding-top: 2.5rem;
                }
                &:last-child{
                    padding-bottom: 2.5rem;
                }
            }
        }
	}
}