<div class="row row-short footer">
    <div class="footer__col col-md-6 bg-2">
        <p>© 2015 Отель Vostok Тюмень. Официальный сайт <br>
        При перепечатке и использовании информации ссылка на источник обязательна</p>
    </div>
    <div class="footer__col col-md-3 bg-2">
        <p>Появились вопросы?<br>Задайте вопрос консультанту</p>
    </div>
    <div class="footer__col col-md-3 bg-2">
        <p>Сайт создан в интерактивном <br>агентстве Ремарк в 2015 г.</p>
    </div>
</div>