.g-page{
	position: relative;
	min-width: 320px;
    width: 100%;
    padding: 10px 0;
	overflow-x: hidden;
    
	font: $font__size $font__family;
    
	background: $color__dark1;
    color: white;
    
    &._lock{
        overflow: hidden;
        
        @media (--desktop-more) {
            overflow: visible;
        }
    }
}