@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(fonts/PTSans-Regular.woff2) format('woff2'), url(fonts/PTSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'PF Din';
  font-style: normal;
  font-weight: 400;
  src: local('PF Din'), local('PFDin-Regular'), url(fonts/PFDin-Regular.woff2) format('woff2'), url(fonts/PFDin-Regular.woff) format('woff');
}