.select{
    min-width: 210px;
    padding: 0 1rem;
    border: 0;
    
    border-radius: 3px;
    background: none;
    box-shadow: inset 0 0 0 1px color(white a(.3));
    color: white;
    
    option{
        color: black;
    }
}