<div class="row tariffs">
    <div class="col-md-3 tariffs__tariff bg-2">
        <p class="tariffs__header">до 10 человек</p>
        <div class="tariffs__title">Зал-кабинет</div>
        <div class="tariffs__price">2 800 ₽</div>
        <div class="tariffs__note">Средний чек</div>
    </div>
    <div class="col-md-3 tariffs__tariff bg-5">
        <p class="tariffs__header">до 10 человек</p>
        <div class="tariffs__title">Ресторан</div>
        <div class="tariffs__price">3 200 ₽</div>
        <div class="tariffs__note">Средний чек</div>
    </div>
    <div class="col-md-3 tariffs__tariff bg-8">
        <p class="tariffs__header">до 10 человек</p>
        <div class="tariffs__title">Зал торжеств</div>
        <div class="tariffs__price">3 650 ₽</div>
        <div class="tariffs__note">Средний чек</div>
    </div>
    <div class="col-md-3 tariffs__tariff bg-6">
        <p class="tariffs__header">до 140 человек</p>
        <div class="tariffs__title">Городское кафе</div>
        <div class="tariffs__price">4 100 ₽</div>
        <div class="tariffs__note">Средний чек</div>
    </div>
</div> 