.tariffs{
    
    text-align: center;
	
	// elements
    [class^="i-"]{
        margin: 3rem 0 1rem;
    }
	&__{
        &tariff{
            padding: 50px 0;
        }
		&header,
        &note{
            font-size: 16px;
        }
        &title,
        &price{
            font-family: PF Din;
        }
        &title{
            margin: 0 0 1rem;
            
            font-size: 46px;
        }
        &price{
            font-size: 32px;
        }
	}
}