<div class="row tariffs">
    <div class="col-md-3 tariffs__tariff bg-2">
        <p class="tariffs__header">Тариф</p>
        <div class="tariffs__title">«Базовый»</div>
        <div class="tariffs__price">2 800 ₽</div>
        <div class="i-tariff1"></div>
        <div class="tariffs__note">Без питания</div>
    </div>
    <div class="col-md-3 tariffs__tariff bg-5">
        <p class="tariffs__header">Тариф</p>
        <div class="tariffs__title">«Основной»</div>
        <div class="tariffs__price">3 200 ₽</div>
        <div class="i-tariff2"></div>
        <div class="tariffs__note">завтрак</div>
    </div>
    <div class="col-md-3 tariffs__tariff bg-6">
        <p class="tariffs__header">Тариф</p>
        <div class="tariffs__title">«Полупансион»</div>
        <div class="tariffs__price">3 650 ₽</div>
        <div class="i-tariff3"></div>
        <div class="tariffs__note">завтрак + ужин</div>
    </div>
    <div class="col-md-3 tariffs__tariff bg-8">
        <p class="tariffs__header">Тариф</p>
        <div class="tariffs__title">«Полный пансион»</div>
        <div class="tariffs__price">4 100 ₽</div>
        <div class="i-tariff4"></div>
        <div class="tariffs__note">завтрак + обед + ужин</div>
    </div>
</div> 