$header__height: 120px;
.header{
    
    display: flex;
    flex-direction: column;
    
    @media (--tablet-more) {
        max-height: 100px;
        height: $header__height;
        
        flex-direction: row;
    }
    
    // elements
    :--col{
        padding-top: 10px;
        padding-bottom: 10px;
        
        &:not(.langs){
            border-right: 2px solid $color__dark1;
        }
    }
    .col{
        height: 100px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0px;
    }
    &__{
        &links,
        &nav{
            display: flex;
            align-items: stretch;
        }
        &logo,
        &reserv,
        &langs{
            
            @media (--widedesktop-more) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media (--widedesktop-less) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &nav{
            flex: 1 0%;
            
            margin-bottom: 2px;
            
            @media (--tablet-more) {
                margin-bottom: 0;
            }
        }
        &logo{
            @media (--tablet-less) {
                flex: 1 0%;
            }
        }
        &menu{
            flex: 1 1 0%;
            align-self: stretch;
            
            display: flex;
            
            overflow: visible;
        }
        &phone{
            min-width: 245px;
            padding: 0 30px;
        }
        &reserv{
            padding: 0 40px;
            
            font-family: PF Din;
            font-size: 24px;
            white-space: nowrap;
            
            color: white;
            
            @media (--desktop-less) {
                display: none;
            }
        }
        &links{
            display: none;
            
            @media (--tablet-more) {
                display: flex;
            }
        }
    }
} 