<header block="header row">
    <div class="header__nav">
        <div class="col header__logo bg-2">
            <div class="i-logo"></div>
        </div>
        <import src="menu" class=" col header__menu bg-6"></import>
    </div>
    <div class="col header__phone bg-4">
        <a href="tel:+73452686111" class="phone">
            <span class="phone__number">+7 (3452) 686 111</span>
            <span class="i-phone phone__icon"></span>
        </a>
        <p>г. Тюмень, ул. Республики, 159</p>
    </div>
    <div class="header__links">
        <a href="#" class="col bg-8 header__reserv">
            Бронирование <br>номеров on-line
        </a>
        <import module="langs" class=" col header__langs bg-7"></import>
    </div>
</header>