<div block="intro" class="bg-6">
    <div elem="bg" style="background-image:url(http://placehold.alanev.ru/1330x355)"></div>
    <div elem="content">
        <h1>Отель Vostok</h1>
        <h3>Добро пожаловать в город Тюмень и отель Vostok!</h3>
        <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</mark></p>
    </div>
</div>