.intro{
    min-height: 355px;
    
    text-align: center;
    overflow: hidden;
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    // mods
    
	// elements
    h1{
        margin: 0;
    }
    h3{
        margin-top: 0;
        margin-bottom: 30px;
    }
    p{
        font-size: 13px;
        
        color: $color__gray1;
    }
	&__{
		&bg{
            position: absolute 0;
            z-index: 10;
            
            background-size: cover;
            background-position: center;
            opacity: .2;
        }
        &content{
            height: 300px;
            
            position: relative;
            z-index: 20;
            
            max-width: 65%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @media (--tablet-less) {
                max-width: 100%;
                padding: 0 1rem;
            }
        }
        &footer{
            position: relative;
            z-index: 20;
            width: 100%;
            
            border-top: 2px solid $color__dark1;
        }
	}
}