<div block="intro" class="bg-6">
    <div elem="bg" style="background-image:url(http://placehold.alanev.ru/1330x355)"></div>
    <div elem="content">
        <h1>Гостевая книга</h1>
    </div>
    <footer elem="footer">
        <import src="tab"></import>
    </footer>
</div>