.phone{
    
    font-family: PF Din;
    font-size: 28px;
    white-space: nowrap;
    
    color: white;
    
    display: flex;
    align-items: center;
	
	// elements
    + p{
        font-size: 14px;
        
        letter-spacing: -.02em;
    }
    &__{
        &icon{
            margin: 0 0 .5rem 1rem;
        }
    }
}