<div class="row about">
    <div class="col-md-5 about__content">
        <h3>Отель Vostok — <br>лучший в Тюмени</h3>
        <p>Впечатление о городе у его гостей складывается чаще всего из воспоминаний о трех местах. Это аэропорт или вокзал, куда они приехали, гостиница или квартира, в которой они остановились, и инфраструктура, которая их окружает.
        <p>Мы приветствуем Вас на официальном сайте отеля Vostok, где Вы можете подробно ознакомиться с информацией о номерном фонде и дополнительных услугах.</p>
        <p>Отель Vostok — это реконструированный комплекс с элегантным интерьером и экстерьером, из окон которого открывается живописная панорама церкви, парка и фонтана. Удобная транспортная развязка, градообразующие, учебные и медицинские заведения области, исторические достопримечательности, парковая зона, кафе и кинотеатры — Вы узнаете город во всем его великолепии.</p>
        <p>Гости отеля могут воспользоваться всем спектром бесплатных и дополнительных услуг: бесплатный интернет Wi-Fi, междугородняя и международная связь в номерах, прачечная и химчистка, камера хранения, депозитный и индивидуальный сейф, охраняемый паркинг, банкомат/платежный терминал, библиотека, сувенирная лавка, экскурсионное и туристическое обслуживание, тренажерный зал, сауна, прокат велосипедов и спортинвентаря, а также ресторанное и транспортное обслуживание, бытовые и медицинские услуги.</p>
        <p>Мы работаем для того, чтобы Вы были уверены в своей безопасности и комфорте, а в памяти остались самые лучшие впечатления от поездки в Тюмень.</p>
    </div>
    <div class="col-md-7">
        <img src=":775x610" alt="">
    </div>
</div>