.about{
	
	// elements
    &__{
        &content{
            padding: 0 2% !important;
            
            align-items: stretch !important;
            
            @media (--tablet-less) {
                padding: 1rem !important;
            }
        }
    }
} 