<div id="carousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-slide">
        <img src=":1330x665" alt="">
        <div class="carousel-title h3">Фотографии свадебного номера <a href="#" class="button button-default">Downlaod</a></div>
    </div>
    <div class="carousel-slide">
        <img src=":1330x665" alt="">
        <div class="carousel-title h3">Фотографии свадебного номера <a href="#" class="button button-default">Downlaod</a></div>
    </div>
</div>