<div class="carousel">
    <div class="carousel-slide" style="background-image:url(:885x440/456872)">
        <div class="carousel-caption">
            <div class="h3">Свадьба в отеле Vostok</div>
            <p>Спецпредложение сентября!</p>
            <a href="#" class="button button-default">Узнать условия</a>
        </div>
    </div>
    <div class="carousel-slide" style="background-image:url(:885x440/456872)">
        <div class="carousel-caption">
            <div class="h3">Свадьба в отеле Vostok</div>
            <p>Спецпредложение сентября!</p>
            <a href="#" class="button button-default">Узнать условия</a>
        </div>
    </div>
</div>