<div class="carousel">
    <div class="carousel-slide">
        <img src=":885x480" alt="">
        <div class="carousel-caption">
            <div class="h1">Одноместный номер</div>
            <div class="h3">от 2 800 ₽ в сутки</div>
            <a href="#" class="button button-default">Смотреть номер</a>
        </div>
    </div>
    <div class="carousel-slide">
        <img src=":885x480/456872" alt="">
        <div class="carousel-caption">
            <div class="h1">Одноместный номер</div>
            <div class="h3">от 2 800 ₽ в сутки</div>
            <a href="#" class="button button-default">Смотреть номер</a>
        </div>
    </div>
</div>