<div class="carousel">
    <div class="carousel-slide">
        <img src=":885x490" alt="">
        <div class="carousel-caption">
            <div class="h1">Свадьба <br>в отеле Vostok</div>
            <p><mark>Спецпредложение сентября!</mark></p>
            <a href="#" class="button button-default">Узнать условия</a>
        </div>
    </div>
    <div class="carousel-slide">
        <img src=":885x490/456872" alt="">
        <div class="carousel-caption">
            <div class="h1">Свадьба <br>в отеле Vostok</div>
            <p><mark>Спецпредложение сентября!</mark></p>
            <a href="#" class="button button-default">Узнать условия</a>
        </div>
    </div>
</div>