$carousel__button_height: 145px;
.carousel{
    size: 100%;
	
	// elements
    .owl{
        
        // elements
        &-{
            &wrapper,
            &wrapper-outer{
                height: 100%;
            }
            &controls{
                margin-top: 0;
            }
            &page-dots{
                display: none;
            }
            &prev,
            &next{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                
                padding: 0;
                border-width: 0;
                
                border-color: color(white a(.4));
                border-style: solid;
                
                display: flex;
                justify-content: center;
                text-align: center;
                
                @media (--widedesktop-more) {
                    size: 110px 145px;
                }
                @media (--widedesktop-less) {
                    top: auto;
                    
                    [class^="i-arrow"]{
                        // transform: scale(.5);
                    }
                }
                @media (--desktop-only) {
                    bottom: 35px;
                    
                    size: 90px 65px;
                }
                @media (--tablet-only) {
                    bottom: 15px;
                    
                    size: 50px;
                }
                @media (--tablet-less) {
                    bottom: 35px;
                    
                    size: 90px 65px;
                }
                
                [class^="i-arrow"]{
                    min-height: auto;
                    
                    display: flex;
                    align-items: center;
                }
            }
            &prev{
                left: 0;
                border-right-width: 1px;
                
                @media (--widedesktop-more) {
                    left: 0;
                }
                @media (--widedesktop-less) {
                    left: 50%;
                    transform: translateX(-100%);
                    
                    border-right: 0;
                }
            }
            &next{
                border-left-width: 1px;
                
                @media (--widedesktop-more) {
                    right: 0;
                }
                @media (--widedesktop-less) {
                    right: 50%;
                    transform: translateX(100%);
                }
            }
        }
    }
    p{
        margin: 1em 0 2em;
        
        @media (--tablet-less) {
            margin: .5rem 0 1rem;
        }
    }
    h3, .h3{
        margin: 2rem 0;
    }
    &--high :--heading:first-child{
        margin-top: 0;
    }
    &-{
        &slide{
            background-position: center;
            background-size: cover;
            
            > img{
                height: 100%;
                opacity: .4;
                
                @media (--desktop-only) {
                    height: 430px;
                }
                @media (--tablet-only) {
                    height: 320px;
                }
                @media (--tablet-less) {
                    height: 430px;
                }
            }
        }
        &title{
            position: absolute 0 0 * 0;
            
            padding: 50px;
            margin: 0 !important;
            
            background: linear-gradient(color(black a(.4)), transparent);
            
            display: flex;
            align-items: center;
            
            .button{
                margin: 0 0 0 2rem;
            }
        }
        &caption{
            position: absolute 0 * 0 50%;
            transform: translateX(-50%);
            padding: 0;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            @media (--desktop-only) {
                padding: 50px 0 130px;
            }
            @media (--desktop-less) {
                padding: 20px 0 80px;
            }
            @media (--tablet-less) {
                width: 80%;
                
                padding: 50px 0 130px;
            }
        }
        &control{
            
            width: 10%;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            // mods
            &.right,
            &.left{
                background-image: none;
            }
            &.left{
                .glyphicon{
                    border-right: 1px solid white;
                }
            }
            &.right{
                .glyphicon{
                    border-left: 1px solid white;
                }
            }
            // elements
            .glyphicon{
                position: static;
                width: 100%;
                height: $carousel__button_height;
                margin: 0 !important;
                
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}