<div class="row">
    <div class="col-md-3 room">
        <img class="room__preview" src=":330x500" alt="">
        <div class="room__content">
            <h3 class="room__title">«Двухместный» </h3>
            <div class="room__cat">Номер 1-й категории</div>
            <div class="room__price">от 3 200 ₽ в сутки</div>
            <div class="room__note">
                <p>Гарантия низкой цены при брони на сайте</p>
                <p>Ужин в подарок</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 room">
        <img class="room__preview" src=":330x500" alt="">
        <div class="room__content">
            <h3 class="room__title">«Комфорт»</h3>
            <div class="room__cat">Номер 1-й категории</div>
            <div class="room__price">от 3 800 ₽ в сутки</div>
            <div class="room__note">
                <p>Гарантия низкой цены при брони на сайте</p>
                <p>Ужин в подарок</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 room">
        <img class="room__preview" src=":330x500" alt="">
        <div class="room__content">
            <h3 class="room__title">«Бизнес»</h3>
            <div class="room__cat">Номер 1-й категории</div>
            <div class="room__price">от 4 500 ₽ в сутки</div>
            <div class="room__note">
                <p>Гарантия низкой цены при брони на сайте</p>
                <p>Ужин в подарок</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 room">
        <img class="room__preview" src=":330x500" alt="">
        <div class="room__content">
            <h3 class="room__subtitle">Номер для людей с ограниченными возможностями здоровья</h3>
            <div class="room__price">от 3 800 ₽ в сутки</div>
            <div class="room__note">
                <p>Гарантия низкой цены при брони на сайте</p>
                <p>Ужин в подарок</p>
            </div>
        </div>
    </div>
</div>