.room{
    
    min-height: 500px;
    padding: 0 !important;
    
    text-align: center;
    
    position: relative;
    
    // mods
	&_em &__price{
        font-size: 48px;
    }
    
	// elements
	&__{
        &preview{
            width: 100%;
            height: 100%;
            
            position: absolute 0;
        }
		&content{
            position: absolute 0;
            padding: 50px 40px;
            
            background: linear-gradient(color(black a(.2)), color(black a(.9)));
            
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &subtitle{
            font-size: 30px;
        }
        &cat{
            margin: 1rem 0 0;
            font-size: 16px;
        }
        &price{
            flex: 1 0%;
            
            font-family: PF Din;
            font-size: 30px;
            
            &:before{
                content: '';
                display: block;
                size: 100px 1px;
                margin: 50px auto;
                
                background: color(white a(.2));
            }
        }
	}
}