<div class="person">
    <img src=":110x100" alt="" class="person__image">
    <p class="person__name">
        <mark>Наталья Смирнова</mark>
    </p>
    <p class="person__post">Менеджер по работе с клиентами</p>
    <a href="tel:+73452686111" class="person__phone">+7 (3452) 686-111</a>
</div>