.person{
    
    text-align: left;
    white-space: nowrap;
	
	// elements
	&__{
		&image{
            margin: 0 0 20px;
            
            border-radius: 50%;
        }
        &name,
        &phone{
            font-size: 18px;
        }
        &name{
            margin-bottom: .75rem;
        }
        &phone{
            display: inline-block;
            margin-top: 1.25rem;
            
            color: white;
            
            &:hover{
                text-decoration: underline;
                color: color(white a(.4));
            }
        }
	}
}