.map{
    
    position: relative;
    
    width: 100%;
    padding: 0 !important;
	
	// elements
	&__{
		&content{
            position: absolute 60px 60px * 60px;
            z-index: 20;
            
            margin: 0;
            
            line-height: 1;
            
            text-align: left;
            
            @media (--tablet-less){
                position: absolute 10px 10px * 10px;
                line-height: 0;
            }
        }
        &image{
            width: 100%;
            height: auto;
            margin: 0 !important;
        }
        &frame{
            size: 100% 660px;
        }
	}
}