<div class="map">
    <div class="map__content">
        <h3 class="map__title">Отель на карте</h3>
        <p>
            <mark>г.Тюмень,ул.Республики,159</mark>
        </p>
        <br>
        <div class="button button-default">Узнать как добраться</div>
    </div>
    <div id="map" class="map__frame"></div>
</div>