@custom-selector :--heading h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, h6;
:--heading{
    font-family: PF Din;
    line-height: 1;
    
    color: white;
    
    + p{
        margin-top: 1rem;
    }
}
h1,
.h1{
    font-size: 4.875rem; // 78px
    
    @media (--widedesktop-less) {
        font-size: 3rem;
    }
}
h2,
.h2{
    font-size: 3.75rem; // 60px;
}
h3,
.h3{
    font-size: 3rem; // 48px
    
    @media (--widedesktop-less) {
        font-size: 2rem;
    }
}
h4,
.h4{
    font-size: 2.25rem; // 36px
}
h5,
.h5{
    font-size: 2rem; // 32px
}
h6,
.h6{
    font-size: 1.375rem; // 22px
}
h4 + h3{
    margin-top: -20px;
}