.langs{
	
    display: flex;
    flex-direction: column;
    
	// elements
	&__{
		&lang{
            margin: 7px 0;
            
            color: white;
            
            &:not(._active){
                text-decoration: none;
                border-bottom: 1px solid $color__gray1;
                
                &:hover{
                    border-bottom-color: transparent;
                    color: $color__gray1;
                }
            }
            &._active{
                color: $color__gray1;
            }
        }
	}
}