<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Vostok - отель</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="favicon.ico">
	
	<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" defer></script>
	<script src="//code.jquery.com/jquery-2.1.1.min.js" defer></script>
	<script src="modernizr.js" defer></script>
	<script src="app.js" defer></script>
	
	<import src="modules/g-errors/g-errors.head.htm"></import>
</head>