p{
    width: 100%;
    
    font-size: 13px;
    
    color: $color__gray1;
    
    &.lead{
        font-size: 21px;
    }
}
strong,
b{
    font-weight: bold;
}
em,
i{
    font-style: italic;
}
small{
    font-size: 80%;
}
mark{
    background: none;
    color: white;
}
blockquote{
    padding: 25px 0;
    border-left: 0;
    
    font-size: 16px;
    
    color: white;
    
    position: relative;
    
    &:before{
        content: '“';
        position: absolute -20px * * -30px;
        
        font-size: 250px;
        line-height: 1;
        
        opacity: .02;
    }
    P{
        font-size: inherit;
        color: inherit;
    }
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.md-columns{
    list-style: none;
    
    column-count: 2;
    column-gap: 60px;
    column-rule: 1px solid color(white a(.2));
    
    p{
        margin-bottom: 1em;
        
        color: white;
    }
}
ul{
    width: 100%;
    padding: 0;
    
    list-style: none;
}
li{
    margin-top: 1em;
    
    &:before{
        content: '—';
    }
}
.text{
    &-{
        &left{
            text-align: left;
        }
        &right{
            text-align: right;
        }
        &center{
            text-align: center;
        }
        &justify{
            text-align: justify;
        }
        &nowrap{
            white-space: nowrap;
        }
        &lowercase{
            text-transform: lowercase;
        }
        &uppercase{
            text-transform: uppercase;
        }
        &capitalize{
            text-transform: capitalize;
        }
    }
}