<p>Впечатление о городе у его гостей складывается чаще всего из воспоминаний о трех местах. Это аэропорт или вокзал, куда они приехали, гостиница или квартира, в которой они остановились, и инфраструктура, которая их окружает.</p>
<p>Мы приветствуем Вас на официальном сайте отеля Vostok, где Вы можете подробно ознакомиться с информацией о номерном фонде и дополнительных услугах.</p>
<p>Отель Vostok — это реконструированный комплекс с элегантным интерьером и экстерьером, из окон которого открывается живописная панорама церкви, парка и фонтана. Удобная транспортная развязка, градообразующие, учебные и медицинские заведения области, исторические достопримечательности, парковая зона, кафе и кинотеатры — Вы узнаете город во всем его великолепии.</p>
<p>Гости отеля могут воспользоваться всем спектром бесплатных и дополнительных услуг: бесплатный интернет Wi-Fi, междугородняя и международная связь в номерах, прачечная и химчистка, камера хранения, депозитный и индивидуальный сейф, охраняемый паркинг, банкомат/платежный терминал, библиотека, сувенирная лавка, экскурсионное и туристическое обслуживание, тренажерный зал, сауна, прокат велосипедов и спортинвентаря, а также ресторанное и транспортное обслуживание, бытовые и медицинские услуги.</p>
<p>Мы работаем для того, чтобы Вы были уверены в своей безопасности и комфорте, а в памяти остались самые лучшие впечатления от поездки в Тюмень.</p>
<blockquote>Гостиница «Восток» - идеальный выбор для тех, кто привык к комфорту. В начале августа 2013 года я уже второй раз ездил в командировку в г. Тюмень и останавливался в гостинице "Восток".</blockquote>
<s>Lorem ipsum dolor.</s>
<ins>Lorem ipsum dolor sit.</ins>
<u>Lorem ipsum dolor.</u>
<small>Lorem ipsum dolor sit amet.</small>
<strong>Lorem ipsum dolor.</strong>
<b>Lorem ipsum dolor.</b>
<em>Lorem ipsum dolor sit.</em>
<i>Lorem ipsum dolor sit.</i>
<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In officiis, quaerat architecto ducimus quam omnis!</p>
<p class="text-nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam rerum dignissimos aliquam, ratione suscipit.</p>
<p class="text-lowercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p class="text-uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p class="text-capitalize">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<abbr title="attribute">lorem</abbr>
<ul>
    <li>односпальная кровать с ортопедическим матрасом</li>
    <li>прикроватная тумбочка</li>
    <li>письменный стол</li>
    <li>настольная лампа</li>
    <li>платяной шкаф/вешалка с багажной полкой</li>
    <li>журнальный стол/кресло</li>
    <li>холодильник
    <li>телефон с междугородней и международной связью</li>
    <li>фен</li>
    <li>набор банных принадлежностей (шапочка д/душа, мыло, шампунь)</li>
    <li>телевизор с кабельным телевидением</li>
</ul>