.search{
    size: 100%;
    
    position: relative;
            
    transition: .4s;
    
    display: flex;
    align-items: stretch;
    
    &._active{
        background: $color__dark8;
    
        overflow: visible;
    }
    &:not(._active) &__form{
        width: 0;
    }
	
	// elements
	&__{
        &icon{
            width: 100%;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }
		&form{
            position: absolute 0 * 0 100%;
            
            width: 450px;
            
            background: inherit;
            
            transition: width .4s;
        }
        &input{
            height: 100%;
            width: 100%;
            
            font-size: 40px;
            
            border: none;
            background: none;
        }
	}
}