<div class="row row-high-2 services">
    <div class="col-carousel-before-after bg-8">
        <img src="img/bron.gif" alt="">
        <h3>Забронировать <br>номер on-line</h3>
        <form class="form">
            <div class="form__row">
                <div class="form__col">
                    <input class="form__input _date" type="date" placeholder="Дата заезда">
                </div>
                <div class="form__col">
                    <input class="form__input _date" type="date" placeholder="Дата выезда">
                </div>
            </div>
            <div class="button button-default">Найти номер</div>
        </form>
    </div>
    <div class="col-carousel col-row bg-8">
        <import src="modules/carousel/carousel1.htm"></import>
    </div>
</div>
<div class="row row-high-2 services">
    <div class="col-carousel col-row bg-8">
        <import src="modules/carousel/carousel2.htm"></import>
    </div>
    <div class="col-carousel-before-after bg-2">
        <img src="img/hotel.gif" alt="">
        <h3>Отель</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
    </div>
</div>
<div class="row row-medium services">
    <div class="col-md-2 col-xs-3 bg-6">
        <div class="i-stemware"></div>
    </div>
    <div class="col-md-4 col-xs-3 bg-4">
        <h3>Ресторация <br>V cafe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
    </div>
    <div class="col-md-2 col-xs-3 bg-6">
        <img src="img/konf.gif" alt="">
    </div>
    <div class="col-md-4 col-xs-3 bg-8">
        <h3>Конференц-<br>центр</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
    </div>
</div>